.homepage {
  background-image: url("../../img/homebackground.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.formHomepage {
  width: 300px;

  border: none;
  background: rgba(255, 255, 255, 0.75);
  color: gray;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.welcome-img {
  width: 100%;
  height: auto;
  max-height: 250px;
}
